/*------------------------------------------------------------------
[Table of contents]

	General Styling
	Header
	Footer
	About Us
	Blog
	Contact
	Portfolio
	Sidebar
	Typography
	Elements [Forms, buttons etc..]
	Other Plugins
	
[/Table of contents]
-------------------------------------------------------------------*/
.primary-font,
a.side-menu-button,
nav.main-navigation ul li ul.sub-menu li ul.sub-sub-menu li a,
nav.main-navigation ul li ul.sub-menu li a,
nav.main-navigation ul a,
nav.responsive-menu ul li .sub-menu a,
nav.responsive-menu a {
  font-family: 'Open Sans', sans-serif;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
}
section {
  padding: 80px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  color: #dd8a2c;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #206c8c;
}
.site-header {
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  z-index: 98;
  background-color: rgba(250, 250, 250, 0.75);
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}
@media (max-width: 991px) {
  .site-header {
    background-color: #ffffff;
  }
}
.site-header .main-header .logo {
  float: left;
  line-height: 80px;
}
@media (max-width: 991px) {
  .site-header .main-header .logo {
    padding-right: 20px;
    margin-right: 10px;
  }
}
.site-header-2 {
  position: fixed;
  width: 100%;
  height: 90px;
  top: 0;
  left: 0;
  z-index: 9999999;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: none;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}
@media (max-width: 991px) {
  .site-header-2 {
    background-color: #ffffff;
  }
}
.site-header-2 .main-header .logo {
  position: relative;
  z-index: 99999999;
  margin-top: 30px;
  background-image: url(../images/logo-2.png);
  background-size: cover;
  width: 109px;
  height: 33px;
  background-repeat: no-repeat;
}
@media (max-width: 991px) {
  .site-header-2 .main-header .logo {
    padding-right: 20px;
    margin-right: 10px;
    background-image: url(../images/logo-1.png);
  }
}
.site-header-2 nav.main-navigation ul {
  line-height: 90px;
}
.site-header-2 nav.main-navigation ul li a {
  color: #dd8a2c;
}
.site-header-2 nav.main-navigation ul li ul li a {
  color: #dd8a2c;
}
.site-header-2.scrolled-header {
  background-color: #dd8a2c !important;
}
.site-header-2.scrolled-header .logo {
  margin-top: 30px;
  background-image: url(../images/logo-1.png);
  background-size: cover;
  width: 109px;
  height: 33px;
  background-repeat: no-repeat;
}
.site-header-2.scrolled-header nav.main-navigation ul li a {
  color: #121212;
}
.site-header-2.scrolled-header nav.main-navigation ul li ul li a {
  color: #ffffff;
}
.sub-header {
  width: 100%;
  height: 42px;
  background-color: #f4f4f4;
}
.sub-header .left-content ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sub-header .left-content ul li {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  color: #7a7a7a;
  line-height: 42px;
  border-right: 1px solid #e6e6e6;
  margin-right: 15px;
  padding-right: 15px;
}
.sub-header .left-content ul li i {
  margin-right: 8px;
  font-size: 113px;
  color: #82af7c;
}
.sub-header .left-content ul li:last-child {
  border-right: none;
  margin-right: 0px;
  padding-right: 0px;
}
.sub-header .right-content {
  float: right;
}
.sub-header .right-content ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sub-header .right-content ul li {
  display: inline-block;
  line-height: 40px;
  margin-left: 5px;
}
.sub-header .right-content ul li a i {
  color: #ffffff;
  font-size: 12px;
  width: 26px;
  height: 26px;
  background-color: #82af7c;
  display: inline-block;
  line-height: 26px;
  text-align: center;
  border-radius: 50%;
}
.sub-header .right-content ul li a i:hover {
  background-color: #659a5e;
  transition: all 0.5s;
}
.site-header-3 {
  position: fixed;
  width: 100%;
  height: 90px;
  top: 42px;
  left: 0;
  z-index: 9999999;
  background-color: #ffffff;
  border-bottom: none;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}
.site-header-3 .main-header .logo {
  position: relative;
  z-index: 99999999;
  margin-top: 30px;
  background-image: url(../images/logo-1.png);
  background-size: cover;
  width: 109px;
  height: 33px;
  background-repeat: no-repeat;
}
@media (max-width: 991px) {
  .site-header-3 .main-header .logo {
    padding-right: 20px;
    margin-right: 10px;
  }
}
.site-header-3 nav.main-navigation ul {
  line-height: 90px;
}
.site-header-3 nav.main-navigation ul li a {
  color: #121212;
}
.site-header-3 nav.main-navigation ul li ul li a {
  color: #121212;
}
.scrolled-header {
  background-color: rgba(250, 250, 250, 0.97);
  top: 0;
}
.header-right-toggle {
  margin-top: 20px;
  margin-right: 5px;
}
.header-right-toggle a {
  text-align: center;
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  background-color: #82af7c;
}
a.side-menu-button {
  text-transform: uppercase;
  font-weight: 700;
  color: #dd8a2c;
}
a.side-menu-button i {
  margin-right: 0px;
}
nav.main-navigation {
  position: relative;
  z-index: 20;
}
nav.main-navigation ul {
  line-height: 80px;
  margin: 0;
  padding: 0;
  list-style: none;
}
nav.main-navigation ul li {
  position: relative;
  display: inline-block;
  padding: 0px 15px;
  margin: 0px;
}
nav.main-navigation ul li ul.sub-menu {
  line-height: 24px;
  text-align: left;
  position: absolute;
  top: 99%;
  left: 0;
  width: 160px;
  background: #121212;
  padding: 5px 0;
  visibility: hidden;
  opacity: 0;
  -moz-transform: translate3d(0, 20px, 0);
  -o-transform: translate3d(0, 20px, 0);
  -ms-transform: translate3d(0, 20px, 0);
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
nav.main-navigation ul li ul.sub-menu li {
  display: block;
  padding: 0;
  margin: 5px 0px;
}
nav.main-navigation ul li ul.sub-menu li ul.sub-sub-menu {
  line-height: 22px;
  text-align: left;
  position: absolute;
  top: -10px;
  left: 100%;
  width: 160px;
  background: #1f1f1f;
  padding: 5px 0;
  visibility: hidden;
  opacity: 0;
  -moz-transform: translate3d(20px, 0, 0);
  -o-transform: translate3d(20px, 0, 0);
  -ms-transform: translate3d(20px, 0, 0);
  -webkit-transform: translate3d(20px, 0, 0);
  transform: translate3d(20px, 0, 0);
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
nav.main-navigation ul li ul.sub-menu li ul.sub-sub-menu li {
  display: block;
  padding: 0;
  margin: 5px 0px;
}
nav.main-navigation ul li ul.sub-menu li ul.sub-sub-menu li a {
  color: #ffffff;
  font-size: 10px;
  font-weight: 400;
  padding: 5px 15px;
  letter-spacing: 1px;
}
nav.main-navigation ul li ul.sub-menu li ul.sub-sub-menu li a:hover {
  color: #82af7c;
  transition: all 1s;
}
nav.main-navigation ul li ul.sub-menu li a {
  color: #ffffff;
  font-size: 10px;
  font-weight: 600;
  padding: 5px 15px;
  letter-spacing: 1px;
}
nav.main-navigation ul li ul.sub-menu li a:hover {
  color: #82af7c;
  transition: all 1s;
}
nav.main-navigation ul li ul.sub-menu li:hover ul.sub-sub-menu {
  visibility: visible;
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
nav.main-navigation ul li ul.sub-menu li:last-child {
  float: none;
}
nav.main-navigation ul li:hover ul.sub-menu {
  visibility: visible;
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
nav.main-navigation ul a {
  font-size: 14px;
  color: #121212;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
nav.main-navigation ul a i {
  margin-left: 7px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  nav.main-navigation ul a {
    padding: 10px 0;
  }
}
nav.main-navigation ul li:last-child i {
  color: #ffffff;
  width: 36px;
  height: 36px;
  background-color: #82af7c;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
}
nav.main-navigation ul li:last-child i:hover {
  background-color: #659a5e;
  transition: all 0.5s;
}
nav.responsive-menu ul {
  padding: 25px 15px;
  margin: 0;
  list-style: none;
}
nav.responsive-menu ul li {
  display: block;
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
}
nav.responsive-menu ul li .show-submenu {
  position: absolute;
  top: 5px;
  right: 15px;
  cursor: pointer;
  color: #7a7a7a;
}
nav.responsive-menu ul li .sub-menu {
  display: none;
  padding: 0 0 0 30px;
}
nav.responsive-menu ul li .sub-menu.open {
  display: block;
}
nav.responsive-menu ul li .sub-menu li {
  position: relative;
  margin: 5px 0px;
  padding: 0 0 0 10px;
}
nav.responsive-menu ul li .sub-menu li:before {
  content: '-';
  position: absolute;
  left: 0;
  color: #aaa;
  top: 2px;
}
nav.responsive-menu ul li .sub-menu li .sub-sub-menu {
  display: none;
  padding: 0 0 0 30px;
}
nav.responsive-menu ul li .sub-menu li .sub-sub-menu.open {
  display: block;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
nav.responsive-menu ul li .sub-menu li .sub-sub-menu li {
  position: relative;
  margin: 0;
  padding: 0 0 0 10px;
}
nav.responsive-menu ul li .sub-menu li .sub-sub-menu li:before {
  content: '-';
  position: absolute;
  left: 0;
  top: 2px;
}
nav.responsive-menu ul li .sub-menu a {
  padding: 5px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  color: #7a7a7a;
}
nav.responsive-menu ul li:last-child {
  border-bottom: none;
}
nav.responsive-menu a {
  letter-spacing: 1px;
  font-size: 113px;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  padding: 5px 10px;
  margin: 0;
  color: #555555;
}
.sidebar-menu-inner {
  position: relative;
  overflow: hidden;
  background: #fff;
}
.sidebar-menu-container {
  position: relative;
  overflow: hidden;
}
.mc_embed_signup{
	position: center;
	padding: 100px 400px;
	font-size: 20px
}
.sidebar-menu-push {
  position: relative;
  left: 0;
  z-index: 9999;
  height: 100%;
}
.sidebar-menu-overlay {
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.75);
  content: '';
  opacity: 0;
}
.sidebar-menu-open .sidebar-menu-overlay {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
.sidebar-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  visibility: hidden;
  width: 250px;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow-y: auto;
}
.sidebar-menu::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  content: '';
  opacity: 1;
}
.sidebar-menu-open .sidebar-menu::after {
  width: 0;
  height: 0;
  opacity: 0;
}
.slide-from-left.sidebar-menu-open .sidebar-menu-push {
  -webkit-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0);
}
.ie9 .slide-from-left .sidebar-menu-push {
  margin-left: 250px;
}
.slide-from-left.sidebar-menu {
  z-index: 1;
}
.slide-from-left.sidebar-menu-open .slide-from-left.sidebar-menu {
  visibility: visible;
  -webkit-transition: -webkit-transform 0s;
  transition: transform 0s;
}
.slide-from-left.sidebar-menu::after {
  display: none;
}
/* Medium Screens */
@media only screen and (min-width: 40.063em) {
  .sidebar-menu {
    width: 320px;
  }
  .slide-from-left.sidebar-menu-open .sidebar-menu-push {
    -webkit-transform: translate3d(320px, 0, 0);
    transform: translate3d(320px, 0, 0);
  }
  .ie9 .slide-from-left .sidebar-menu-push {
    margin-left: 320px;
  }
}
footer {
  background-color: #232527;
}
footer, p{
  font-size: 12px;
}
footer .footer-item {
  padding: 80px 15px;
}
@media (max-width: 991px) {
  footer .footer-item {
    padding: 40px 15px;
  }
}
footer .footer-item .heading {
  margin-bottom: 25px;
}
footer .footer-item .heading h3 {
  font-size: 14px;
  text-transform: uppercase;
  color: #dd8a2c;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 15px;
}
footer .footer-item .heading h3 em {
  font-style: normal;
  color: #dd8a2c;
}
footer .footer-item .heading .full-line {
  width: 100%;
  height: 1px;
  background-color: #206c8c;
  position: relative;
  z-index: 9;
}
footer .footer-item .heading .line-dec {
  width: 45px;
  height: 3px;
  background-color: #206c8c;
  position: relative;
  z-index: 10;
  margin-top: -2px;
}
footer .about-charity p {
  color: #ffffff;
  margin-bottom: 25px;
}
footer .about-charity ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
footer .about-charity ul li {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 15px;
}
footer .about-charity ul li span {
  color: #dd8a2c;
  width: 60px;
  display: inline-block;
}
footer .about-charity .social-media img{
	height: 8%;
	width:8%;
	float: left;
	margin-right: 3%;
	margin-left: 3%;
	margin-top: 3%;


}
footer .about-charity .social-media .left{
	background-color:yellow;
	width:100%;
	float:left;
}
footer .recent-posts .recent-item img {
  width: 70px;
  float: left;
  margin-right: 15px;
}
footer .recent-posts .recent-item h4 {
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.3px;
  margin-bottom: 0px;
  margin-top: 30px;
}
footer .recent-posts .recent-item span {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #dd8a2c;
  text-transform: uppercase;
}
footer .recent-posts .recent-item p {
  margin-top: 7px;
  color: #ffffff;
  line-height: 16px;
}
footer .newsletters-signup p {
  color: #ffffff;
  margin-bottom: 25px;
}
footer .newsletters-signup input {
  width: 100%;
  height: 37px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 37px;
  color: #ffffff;
  border: none;
  outline: none;
  background-color: #6c6c6c;
  padding-left: 15px;
  position: relative;
  z-index: 9;
}
footer .newsletters-signup .accent-button {
  position: relative;
  z-index: 10;
  top: -29px;
  float: right;
}
footer .sub-footer {
  border-top: 1px solid #4c4f54;
  padding-top: 20px;
  padding-bottom: 15px;
}
footer .sub-footer p {
  color: #aaaaaa;
  font-size: 12px;
  margin-top: 6px;
}
@media (max-width: 991px) {
  footer .sub-footer p {
    text-align: center;
  }
}
footer .sub-footer p a {
  color: #ffffff;
}
footer .sub-footer ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
}
@media (max-width: 991px) {
  footer .sub-footer ul {
    float: none;
    text-align: center;
    margin-top: 15px;
  }
}
footer .sub-footer ul li {
  margin-left: 10px;
  display: inline-block;
}
footer .sub-footer ul li a i {
  color: #232527;
  font-size: 12px;
  width: 28px;
  height: 28px;
  background-color: #6c6c6c;
  display: inline-block;
  line-height: 28px;
  text-align: center;
  border-radius: 50%;
}
footer .sub-footer ul li a i:hover {
  background-color: #82af7c;
  color: #ffffff;
  transition: all 0.5s;
}
section.human-save {
  margin-bottom: -100px;
}
section.human-save .heading {
  text-align: center;
}
section.human-save .heading h3 {
  margin-top: 0px;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0px;
}
section.human-save .heading h3 em {
  font-style: normal;
  color: #dd8a2c;
}
section.human-save .heading .line-dec {
  width: 40px;
  height: 3px;
  background-color: #206c8c;
  margin: 15px auto;
}
section.human-save .top-content {
  text-align: center;
}
section.human-save .top-content p {
  margin-bottom: 30px;
}
.our-team .heading {
  text-align: center;
}
.our-team .heading h3 {
  margin-top: 0px;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.our-team .heading h3 em {
  font-style: normal;
  color: #dd8a2c;
}
.our-team .team-member {
  padding: 0px 25px;
}
@media (max-width: 991px) {
  .our-team .team-member {
    margin-bottom: 45px;
  }
}
.our-team .team-member .thumb-holder img {
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}
.our-team .team-member .thumb-holder .down-content h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0px;
}
.our-team .team-member .thumb-holder .down-content span {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-style: italic;
  color: #c6c6c6;
  text-transform: uppercase;
}
.our-team .team-member .thumb-holder .hover-content {
  background-color: rgba(130, 175, 124, 0.95);
  position: absolute;
  left: 50%;
  margin-left: -97px;
  width: 194px;
  height: 194px;
  border-radius: 50%;
  top: 10px;
  opacity: 0;
  visibility: hidden;
  padding-top: 33%;
}
@media (max-width: 991px) {
  .our-team .team-member .thumb-holder .hover-content {
    top: 15px;
    width: 75%;
    height: 75%;
    margin-left: 0px;
    left: 12.5%;
  }
}
.our-team .team-member .thumb-holder .hover-content ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.our-team .team-member .thumb-holder .hover-content ul li {
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
}
.our-team .team-member .thumb-holder .hover-content ul li a {
  color: #ffffff;
  font-size: 18px;
}
.our-team .team-member .thumb-holder:hover .hover-content {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  transition: all 1s;
}
.latest-news .latest .heading {
  text-align: left;
}
.latest-news .latest .heading h3 {
  margin-top: 0px;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.latest-news .latest .heading h3 em {
  font-style: normal;
  color: #82af7c;
}
@media (max-width: 991px) {
  .latest-news .latest .latest-item {
    margin-bottom: 30px;
  }
}
.latest-news .latest .latest-item .thumb-holder {
  position: relative;
  z-index: 9;
}
.latest-news .latest .latest-item .thumb-holder img {
  width: 100%;
}
.latest-news .latest .latest-item .thumb-holder .date {
  position: absolute;
  z-index: 10;
  bottom: 15px;
  right: 10px;
}
.latest-news .latest .latest-item .thumb-holder .date span {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  color: #121212;
  background-color: #ffffff;
  padding: 5px 8px;
}
.latest-news .latest .latest-item .down-content {
  background-color: #f4f4f4;
  padding: 20px;
}
.latest-news .latest .latest-item .down-content h4 {
  margin-top: 0px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.latest-news .latest .latest-item .down-content p {
  margin-bottom: 0px;
}
.latest-news .latest .latest-item .button-content {
  background-color: #eeeeee;
  padding: 20px 20px 20px 20px;
}
@media (max-width: 991px) {
  .latest-news .events {
    margin-top: 30px;
  }
}
.latest-news .events .heading {
  text-align: left;
}
.latest-news .events .heading h3 {
  margin-top: 0px;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.latest-news .events .heading h3 em {
  font-style: normal;
  color: #82af7c;
}
.latest-news .events .event-items::-webkit-scrollbar {
  width: 3px;
}
.latest-news .events .event-items::-webkit-scrollbar-track {
  background-color: #eeeeee;
}
.latest-news .events .event-items::-webkit-scrollbar-thumb {
  background-color: #dadada;
  outline: 1px solid slategrey;
}
.latest-news .events .event-items {
  height: 440px!important;
  overflow-x: hidden;
  overlofw-y: auto;
  /*-webkit-overflow-scrolling: touch;*/
}
.latest-news .events .event-items .event-item {
  margin-right: 15px;
  margin-bottom: 25px;
  padding-bottom: 40px;
  border-bottom: 1px solid #eeeeee;
}
.latest-news .events .event-items .event-item .date {
  float: left;
}
.latest-news .events .event-items .event-item .date span {
  background-color: #82af7c;
  width: 60px;
  height: 60px;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: 700;
  color: #ffffff !important;
  line-height: 20px;
  text-transform: uppercase;
}
.latest-news .events .event-items .event-item .right-content h4 {
  margin-top: 0px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 75px;
}
.latest-news .events .event-items .event-item .right-content ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.latest-news .events .event-items .event-item .right-content ul li {
  margin-right: 15px;
  display: inline;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  color: #555555;
  letter-spacing: -0.5px;
}
.latest-news .events .event-items .event-item .right-content ul li i {
  font-size: 13px;
  color: #121212;
  margin-right: 7px;
}
.latest-news .events .event-items .event-item .right-content ul li:first-child {
  margin-left: 15px;
}
.latest-news .events .event-items .event-item .right-content ul li:last-child {
  margin-right: 0px;
}
.latest-news-2 .latest .heading h3 {
  margin-bottom: 40px;
}
.upcoming-events .heading {
  text-align: center;
}
.upcoming-events .heading h3 {
  margin-top: 0px;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.upcoming-events .heading h3 em {
  font-style: normal;
  color: #82af7c;
}
.upcoming-events .left-video img {
  width: 100%;
}

@media (max-width: 991px) {
  .upcoming-events .events {
    margin-top: 30px;
  }
}
.upcoming-events .events .event-items::-webkit-scrollbar {
  width: 3px;
}
.upcoming-events .events .event-items::-webkit-scrollbar-track {
  background-color: #eeeeee;
}
.upcoming-events .events .event-items::-webkit-scrollbar-thumb {
  background-color: #dadada;
  outline: 1px solid slategrey;
}
.upcoming-events .events .event-items {
  height: 400px;
  overflow-x: hidden;
  overlofw-y: auto;
  /*-webkit-overflow-scrolling: touch;*/
}
.upcoming-events .events .event-items .event-item {
  margin-right: 15px;
  margin-bottom: 25px;
  padding-bottom: 40px;
  border-bottom: 1px solid #eeeeee;
}
.upcoming-events .events .event-items .event-item .date {
  float: left;
}
.upcoming-events .events .event-items .event-item .date span {
  background-color: #82af7c;
  width: 60px;
  height: 60px;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.5px;
  line-height: 20px;
  text-transform: uppercase;
}
.upcoming-events .events .event-items .event-item .right-content h4 {
  margin-top: 0px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 75px;
}
.upcoming-events .events .event-items .event-item .right-content ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.upcoming-events .events .event-items .event-item .right-content ul li {
  margin-right: 15px;
  display: inline;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  color: #555555;
  letter-spacing: -0.5px;
}
.upcoming-events .events .event-items .event-item .right-content ul li i {
  font-size: 13px;
  color: #121212;
  margin-right: 7px;
}
.upcoming-events .events .event-items .event-item .right-content ul li:first-child {
  margin-left: 15px;
}
.upcoming-events .events .event-items .event-item .right-content ul li:last-child {
  margin-right: 0px;
}
.blog-page .blog-items .blog-item {
  margin-bottom: 30px;
}
.blog-page .blog-items .blog-item .thumb-holder {
  position: relative;
  z-index: 9;
}
.blog-page .blog-items .blog-item .thumb-holder img {
  width: 100%;
}
.blog-page .blog-items .blog-item .thumb-holder ul {
  list-style: none;
  position: absolute;
  z-index: 10;
  bottom: 5px;
  right: 10px;
}
.blog-page .blog-items .blog-item .thumb-holder ul li {
  display: inline-block;
  margin-left: 5px;
}
.blog-page .blog-items .blog-item .thumb-holder ul li span {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  color: #121212;
  background-color: #ffffff;
  padding: 5px 8px;
  cursor: pointer;
}
.blog-page .blog-items .blog-item .thumb-holder ul li span:hover {
  color: #ffffff;
  background-color: #82af7c;
  transition: all 0.5s;
}
.blog-page .blog-items .blog-item .down-content {
  background-color: #f4f4f4;
  padding: 20px;
}
.blog-page .blog-items .blog-item .down-content h4 {
  margin-top: 0px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.blog-page .blog-items .blog-item .down-content p {
  margin-bottom: 0px;
}
.blog-page .blog-items .blog-item .button-content {
  background-color: #eeeeee;
  padding: 0px 20px 20px 20px;
}
.blog-page .blog-items .single-post {
  margin-bottom: 0px;
}
.blog-page .blog-items .single-post .thumb-holder {
  position: relative;
  z-index: 9;
}
.blog-page .blog-items .single-post .thumb-holder img {
  width: 100%;
}
.blog-page .blog-items .single-post .down-content {
  background-color: #f4f4f4;
  padding: 20px;
}
.blog-page .blog-items .single-post .down-content h4 {
  margin-top: 0px;
  margin-bottom: -15px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.blog-page .blog-items .single-post .down-content ul {
  list-style: none;
  padding: 0;
}
.blog-page .blog-items .single-post .down-content ul li {
  display: inline-block;
  margin-right: 10px;
}
.blog-page .blog-items .single-post .down-content ul li a {
  margin-right: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: #888888;
  text-transform: capitalize;
}
.blog-page .blog-items .single-post .down-content ul li a:hover {
  color: #121212;
  transition: all 0.5s;
}
.blog-page .blog-items .single-post .down-content p {
  border-top: 1px solid #e1e1e1;
  padding-top: 15px;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
}
.blog-page .blog-items .single-post .down-content h6 {
  float: left;
  margin-top: 28px;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 600;
}
.blog-page .blog-items .single-post .down-content .social-icons {
  float: right;
  margin-top: 15px;
}
.blog-page .blog-items .single-post .down-content .social-icons h6 {
  margin-top: 12px;
  float: none;
  display: inline-block;
}
.blog-page .blog-items .single-post .down-content .social-icons ul {
  padding: 0;
  margin: 0;
  float: right;
  list-style: none;
}
.blog-page .blog-items .single-post .down-content .social-icons ul li {
  margin-right: 3px;
  display: inline-block;
}
.blog-page .blog-items .single-post .down-content .social-icons ul li a {
  margin-right: 0px;
}
.blog-page .blog-items .single-post .down-content .social-icons ul li a i {
  color: #232527;
  font-size: 12px;
  width: 28px;
  height: 28px;
  background-color: #ffffff;
  display: inline-block;
  line-height: 28px;
  text-align: center;
  border-radius: 50%;
}
.blog-page .blog-items .single-post .down-content .social-icons ul li a i:hover {
  background-color: #82af7c;
  color: #ffffff;
  transition: all 0.5s;
}
.blog-page .blog-items .single-post .down-content .social-icons ul li:last-child {
  margin-right: 0px;
}
.blog-page .blog-items .single-post .down-content ul {
  padding: 0;
  margin-top: 20px;
  list-style: none;
}
.blog-page .blog-items .single-post .down-content ul li {
  margin-top: 5px;
  margin-right: 3px;
  display: inline-block;
}
.blog-page .blog-items .single-post .down-content ul li span {
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  text-transform: capitalize;
  font-weight: 600;
  color: #121212;
  background-color: #ffffff;
  padding: 5px 8px;
}
.blog-page .blog-items .single-post .down-content ul li span:hover {
  color: #ffffff;
  background-color: #82af7c;
  transition: all 0.5s;
}
.blog-page .comments {
  margin-top: 60px;
}
.blog-page .comments .heading {
  margin-bottom: 30px;
}
.blog-page .comments .heading h4 {
  margin-top: 0px;
  padding-bottom: 5px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}
.blog-page .comments .heading .full-line {
  width: 100%;
  height: 1px;
  background-color: #eeeeee;
  position: relative;
  z-index: 9;
}
.blog-page .comments .heading .line-dec {
  width: 45px;
  height: 3px;
  background-color: #82af7c;
  position: relative;
  z-index: 10;
  margin-top: -2px;
}
.blog-page .comments ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.blog-page .comments ul li {
  display: inline-block;
  margin-bottom: 25px;
  max-width: 100%;
}
.blog-page .comments ul li img {
  width: 70px;
  float: left;
  margin-right: 15px;
}
.blog-page .comments ul li h6 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.3px;
  margin-top: 5px;
  display: inline-block;
  margin-right: 10px;
}
.blog-page .comments ul li span {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 600;
  color: #888888;
  text-transform: uppercase;
}
.blog-page .comments ul li a {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  font-weight: 600;
  background-color: #82af7c;
  color: #ffffff;
  padding: 3px 10px;
  text-transform: uppercase;
  float: right;
  margin-top: 0px;
}
.blog-page .comments ul li a a:hover {
  background-color: #659a5e;
  transition: all 0.5s;
}
.blog-page .comments ul .replied-comment {
  margin-left: 85px;
}
.blog-page .comments ul li:last-child {
  width: 100%;
  margin-bottom: 0px;
}
.blog-page .leave-comment {
  margin-top: 60px;
}
.blog-page .leave-comment .heading {
  margin-bottom: 30px;
}
.blog-page .leave-comment .heading h4 {
  margin-top: 0px;
  padding-bottom: 5px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}
.blog-page .leave-comment .heading .full-line {
  width: 100%;
  height: 1px;
  background-color: #eeeeee;
  position: relative;
  z-index: 9;
}
.blog-page .leave-comment .heading .line-dec {
  width: 45px;
  height: 3px;
  background-color: #82af7c;
  position: relative;
  z-index: 10;
  margin-top: -2px;
}
.blog-page .leave-comment .comment-form input {
  border: 2px solid #eeeeee;
  width: 100%;
  height: 44px;
  outline: none;
  margin-bottom: 30px;
  padding-left: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #343434;
}
.blog-page .leave-comment .comment-form input:focus {
  transition: all 0.5s;
  border-color: #a0c29c;
}
.blog-page .leave-comment .comment-form textarea {
  border: 2px solid #eeeeee;
  width: 100%;
  max-width: 100%;
  min-height: 190px;
  max-height: 220px;
  outline: none;
  padding: 10px 15px;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #343434;
}
.blog-page .leave-comment .comment-form textarea:focus {
  transition: all 0.5s;
  border-color: #a0c29c;
}
section.map-section .about-us {
  margin-left: 30px;
}
@media (max-width: 991px) {
  section.map-section .about-us {
    margin-left: 0px;
    margin-top: 30px;
    padding: 0px 15px;
  }
}
section.map-section .about-us .heading {
  margin-bottom: 25px;
}
section.map-section .about-us .heading h4 {
  margin-top: 0px;
  padding-bottom: 5px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}
section.map-section .about-us .heading .full-line {
  width: 100%;
  height: 1px;
  background-color: #eeeeee;
  position: relative;
  z-index: 9;
}
section.map-section .about-us .heading .line-dec {
  width: 45px;
  height: 3px;
  background-color: #206c8c;
  position: relative;
  z-index: 10;
  margin-top: -2px;
}
section.map-section .about-us .social-icons {
  margin-top: 15px;
}
section.map-section .about-us .social-icons ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
section.map-section .about-us .social-icons ul li {
  margin-right: 10px;
  display: inline-block;
}
section.map-section .about-us .social-icons ul li a {
  color: #121212;
}
section.map-section .about-us .social-icons ul li a i {
  font-size: 13px;
  width: 32px;
  height: 32px;
  background-color: #f4f4f4;
  display: inline-block;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
}
section.map-section .about-us .social-icons ul li a i:hover {
  background-color: #82af7c;
  transition: all 0.5s;
}
section.map-section .about-us .social-icons ul li a:hover {
  color: #ffffff;
}
section.map-section .contact-details {
  margin-left: 30px;
}
@media (max-width: 991px) {
  section.map-section .contact-details {
    margin-left: 0px;
    padding: 0px 15px;
  }
}
section.map-section .contact-details .more-info {
  margin-top: 40px;
  display: inline-block;
  width: 100%;
}
section.map-section .contact-details .more-info ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
section.map-section .contact-details .more-info ul li {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #121212;
  background-color: #f4f4f4;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin-bottom: 20px;
}
section.map-section .contact-details .more-info ul li i {
  margin-right: 20px;
  float: left;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  background-color: #206c8c;
  color: #ffffff;
}
section.map-section .contact-details .more-info ul li a:hover {
  color: #659a5e;
  transition: all 0.5s;
}
section.map-section .contact-details .more-info ul li:last-child {
  margin-bottom: 0px;
}
section.contact-form {
  padding-top: 0px;
}
section.contact-form .heading h3 {
  margin-top: 0px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}
section.contact-form .heading h3 em {
  font-style: normal;
  color: #82af7c;
}
section.contact-form input {
  border: 2px solid #eeeeee;
  width: 100%;
  height: 44px;
  outline: none;
  margin-bottom: 30px;
  padding-left: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #343434;
}
section.contact-form textarea {
  border: 2px solid #eeeeee;
  width: 100%;
  max-width: 100%;
  min-height: 190px;
  max-height: 220px;
  outline: none;
  padding: 10px 15px;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #343434;
}
section.contact-form button:hover:before {
  content: "";
  color: #ffffff !important;
  transition: all 1s;
}
.gallery #projects-filter {
  margin-bottom: 50px;
  text-align: center;
}
@media (max-width: 991px) {
  .gallery #projects-filter {
    display: block;
  }
}
.gallery #projects-filter a {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 12px;
  display: inline-block;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 8px 12px;
  background-color: #f4f4f4;
}
.gallery #projects-filter a:hover {
  color: #ffffff;
  background-color: #82af7c;
  transition: all 0.5s;
}
.gallery #projects-filter .active {
  color: #ffffff;
  background-color: #82af7c;
}
.gallery .item {
  position: absolute;
  margin-bottom: 30px;
}
.gallery .item .thumb-holder {
  position: relative;
}
.gallery .item .thumb-holder img {
  width: 100%;
}
.gallery .item .thumb-holder .hover-content {
  text-align: center;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  bottom: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
}
.gallery .item .thumb-holder .hover-content i {
  margin-top: 30%;
  background-color: #ffffff;
  width: 36px;
  height: 36px;
  text-align: center;
  display: inline-block;
  line-height: 36px;
  color: #121212;
}
.gallery .item .thumb-holder .hover-content i:hover {
  color: #ffffff;
  background-color: #82af7c;
  transition: all 0.5s;
}
.gallery .item .down-content {
  position: relative;
  background-color: #f4f4f4;
  padding: 20px;
}
.gallery .item .down-content h4 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}
.gallery .item .down-content span {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  color: #555555;
  text-transform: uppercase;
}
.gallery .item .thumb-holder:hover .hover-content {
  opacity: 1;
  visibility: visible;
  transition: all 0.7s;
}
section.gallery-pages {
  padding-top: 0px;
}
.urgent-cause {
  position: relative;
  z-index: 97;
  margin-top: -6.7%;
}
@media (max-width: 991px) {
  .urgent-cause {
    margin-top: 20px;
  }
}
.urgent-cause .flexslider {
  border: none;
}
.urgent-cause .flexslider .flex-control-paging li a {
  display: none;
}
@media (max-width: 991px) {
  .urgent-cause .flex-direction-nav .flex-next {
    display: none;
  }
  .urgent-cause .flex-direction-nav .flex-prev {
    display: none;
  }
}
.urgent-cause .urgent-item {
  padding: 20px;
  background-image: linear-gradient(-90deg, #82af7c 50%, #91b98c 50%);
}
@media (max-width: 991px) {
  .urgent-cause .urgent-item {
    background-image: linear-gradient(0deg, #82af7c 45%, #91b98c 45%);
  }
}
.urgent-cause .urgent-item .left-content {
  padding-right: 30px;
}
@media (max-width: 991px) {
  .urgent-cause .urgent-item .left-content {
    text-align: center;
  }
}
.urgent-cause .urgent-item .left-content h4 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.urgent-cause .urgent-item .left-content p {
  margin-top: 15px;
  color: #ffffff;
}
.urgent-cause .urgent-item .left-content .border-button {
  margin-top: 25px;
  padding-bottom: 15px;
}
.urgent-cause .urgent-item .right-content {
  padding-left: 30px;
  padding-top: 15px;
}
@media (max-width: 991px) {
  .urgent-cause .urgent-item .right-content {
    padding-bottom: 20px;
  }
}
.urgent-cause .urgent-item .right-content .white-button {
  text-align: center;
  margin-top: 35px;
}
.urgent-cause .urgent-item .right-content .raised {
  float: left;
}
.urgent-cause .urgent-item .right-content .raised h6 {
  color: #ffffff;
  font-size: 11px;
  font-weight: 700;
}
.urgent-cause .urgent-item .right-content .raised h6 em {
  font-style: normal;
  font-weight: 400;
}
.urgent-cause .urgent-item .right-content .goal h6 {
  color: #ffffff;
  font-size: 11px;
  font-weight: 700;
}
.urgent-cause .urgent-item .right-content .goal h6 em {
  font-style: normal;
  font-weight: 400;
}
.urgent-cause .urgent-item .right-content #progressbar {
  width: 100%;
  height: 5px;
  background-color: #82af7c;
  clear: both;
  border-radius: 5px;
}
.urgent-cause .urgent-item .right-content .progressbar {
  width: 100%;
  height: 5px;
  background-color: #a0c29c;
  clear: both;
  border-radius: 5px;
}
.urgent-cause .urgent-item .right-content #progress {
  background: #ffffff;
  height: 5px;
  border-radius: 5px;
  width: 0%;
  max-width: 100%;
  float: left;
  -webkit-animation: progress 2s 1 forwards;
  -moz-animation: progress 2s 1 forwards;
  -ms-animation: progress 2s 1 forwards;
  animation: progress 2s 1 forwards;
}
.urgent-cause .urgent-item .right-content .progress {
  background: #ffffff;
  height: 5px;
  border-radius: 5px;
  width: 0%;
  max-width: 100%;
  float: left;
  -webkit-animation: progress 2s 1 forwards;
  -moz-animation: progress 2s 1 forwards;
  -ms-animation: progress 2s 1 forwards;
  animation: progress 2s 1 forwards;
}
.urgent-cause .urgent-item .right-content span {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  margin-left: 88%;
  margin-bottom: 6px;
  color: #121212;
  width: 26px;
  height: 18px;
  display: inline-block;
  background-color: #ffffff;
  line-height: 16px;
  text-align: center;
}
@-webkit-keyframes progress {
  to {
    width: 92%;
  }
}
@-moz-keyframes progress {
  to {
    width: 92%;
  }
}
@-ms-keyframes progress {
  to {
    width: 92%;
  }
}
@keyframes progress {
  to {
    width: 92%;
  }
}
.urgent-cause-2 .left-content .img {
  position: relative;
  z-index: 9;
}
.urgent-cause-2 .left-content .img img {
  width: 100%;
}
.urgent-cause-2 .left-content .goal-content {
  position: relative;
  z-index: 10;
  margin-top: -75px;
  padding: 0px 25px;
}
.urgent-cause-2 .left-content .goal-content .raised {
  float: left;
}
.urgent-cause-2 .left-content .goal-content .raised h6 {
  color: #ffffff;
  font-size: 11px;
  font-weight: 700;
}
.urgent-cause-2 .left-content .goal-content .raised h6 em {
  font-style: normal;
  font-weight: 400;
}
.urgent-cause-2 .left-content .goal-content .goal h6 {
  color: #ffffff;
  font-size: 11px;
  font-weight: 700;
}
.urgent-cause-2 .left-content .goal-content .goal h6 em {
  font-style: normal;
  font-weight: 400;
}
.urgent-cause-2 .left-content .goal-content #progressbar {
  width: 100%;
  height: 5px;
  background-color: #ffffff;
  clear: both;
  border-radius: 5px;
}
.urgent-cause-2 .left-content .goal-content #progress {
  background: #82af7c;
  height: 5px;
  border-radius: 5px;
  width: 0%;
  max-width: 100%;
  float: left;
  -webkit-animation: progress 2s 1 forwards;
  -moz-animation: progress 2s 1 forwards;
  -ms-animation: progress 2s 1 forwards;
  animation: progress 2s 1 forwards;
}
.urgent-cause-2 .left-content .goal-content span {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  margin-left: 88%;
  margin-bottom: 6px;
  color: #121212;
  width: 26px;
  height: 18px;
  display: inline-block;
  background-color: #ffffff;
  line-height: 16px;
  text-align: center;
}
@-webkit-keyframes progress {
  to {
    width: 92%;
  }
}
@-moz-keyframes progress {
  to {
    width: 92%;
  }
}
@-ms-keyframes progress {
  to {
    width: 92%;
  }
}
@keyframes progress {
  to {
    width: 92%;
  }
}
.urgent-cause-2 .right-content {
  margin-top: 15px;
}
@media (max-width: 991px) {
  .urgent-cause-2 .right-content {
    margin-top: 45px;
  }
}
.urgent-cause-2 .right-content .accent-bg {
  background-color: #82af7c;
  display: inline-block;
  padding: 3px 8px;
}
.urgent-cause-2 .right-content .accent-bg h6 {
  color: #ffffff;
  letter-spacing: 0.5px;
  line-height: 0px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px;
  width: auto;
  float: left;
}
.urgent-cause-2 .right-content h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}
.urgent-cause-2 .right-content p {
  margin-top: 15px;
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .recent-causes .cause-item {
    margin-bottom: 30px;
  }
}
.recent-causes .cause-item .thumb-holder {
  position: relative;
}
.recent-causes .cause-item .thumb-holder img {
  width: 100%;
  z-index: 9;
}
.recent-causes .cause-item .thumb-holder .more-info ul {
  position: absolute;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 10;
  bottom: 10px;
  right: 10px;
}
.recent-causes .cause-item .thumb-holder .more-info ul li {
  display: inline-block;
}
.recent-causes .cause-item .thumb-holder .more-info ul li i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  background-color: #ffffff;
}
.recent-causes .cause-item .thumb-holder .more-info ul li i:hover {
  color: #ffffff;
  background-color: #82af7c;
  transition: all 0.5s;
  cursor: pointer;
}
.recent-causes .cause-item .thumb-holder .more-info ul li:hover span {
  opacity: 1;
  visibility: visible;
  transition: all 1s;
}
.recent-causes .cause-item .thumb-holder .more-info ul li span {
  z-index: 11;
  display: inline-block;
  width: 180px;
  padding: 5px;
  text-align: center;
  right: 0;
  top: -30px !important;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 600;
  opacity: 0;
  visibility: hidden;
}
.recent-causes .cause-item .text-content {
  background-color: #f4f4f4;
  padding: 20px;
}
.recent-causes .cause-item .text-content h4 {
  margin-top: 0px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.recent-causes .cause-item .text-content p {
  margin-bottom: 0px;
}
.recent-causes .cause-item .goal-content {
  background-color: #eeeeee;
  padding: 30px 25px;
}
.recent-causes .cause-item .goal-content ul {
  padding: 0;
  margin-top: 10px;
  list-style: none;
  text-align: center;
}
.recent-causes .cause-item .goal-content ul li {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
}
.recent-causes .cause-item .goal-content ul li em {
  font-style: normal;
  font-weight: 700;
}
.recent-causes .cause-item .goal-content ul li:first-child {
  float: left;
}
.recent-causes .cause-item .goal-content ul li:last-child {
  float: right;
}
.recent-causes .cause-item .goal-content .progress-holder {
  position: relative;
  z-index: 9;
  width: 100%;
  height: 5px;
  background-color: #ffffff;
  border-radius: 5px;
}
.recent-causes .cause-item .goal-content .progress-fill {
  margin-top: -5px;
  position: relative;
  z-index: 10;
  background: #82af7c;
  height: 5px;
  border-radius: 5px;
  width: 78%;
  max-width: 100%;
  float: left;
}
.recent-causes .cause-item .goal-content .accent-button {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 6px;
}
.recent-causes-2 {
  background-image: url(../images/causes-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.recent-causes-2 .heading {
  text-align: center;
}
.recent-causes-2 .heading h3 {
  margin-top: 0px;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: #ffffff;
}
.recent-causes-2 .heading h3 em {
  font-style: normal;
  color: #82af7c;
}
.recent-causes-3 {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.recent-causes-3 .heading {
  text-align: center;
}
.recent-causes-3 .heading h3 {
  margin-top: 0px;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.recent-causes-3 .heading h3 em {
  font-style: normal;
  color: #82af7c;
}
.list-page .causes-items .causes-item {
  margin-bottom: 30px;
}
.list-page .causes-items .causes-item .thumb-holder {
  position: relative;
}
.list-page .causes-items .causes-item .thumb-holder img {
  width: 100%;
  z-index: 9;
}
.list-page .causes-items .causes-item .thumb-holder .more-info ul {
  position: absolute;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 10;
  bottom: 10px;
  right: 10px;
}
.list-page .causes-items .causes-item .thumb-holder .more-info ul li {
  display: inline-block;
}
.list-page .causes-items .causes-item .thumb-holder .more-info ul li i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  background-color: #ffffff;
}
.list-page .causes-items .causes-item .thumb-holder .more-info ul li i:hover {
  color: #ffffff;
  background-color: #82af7c;
  transition: all 0.5s;
  cursor: pointer;
}
.list-page .causes-items .causes-item .thumb-holder .more-info ul li:hover span {
  opacity: 1;
  visibility: visible;
  transition: all 1s;
}
.list-page .causes-items .causes-item .thumb-holder .more-info ul li span {
  z-index: 11;
  display: inline-block;
  width: 180px;
  padding: 5px;
  text-align: center;
  right: 0;
  top: -30px !important;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 600;
  opacity: 0;
  visibility: hidden;
}
.list-page .causes-items .causes-item .text-content {
  margin-left: -30px;
  background-color: #f4f4f4;
  padding: 20px;
}
@media (max-width: 991px) {
  .list-page .causes-items .causes-item .text-content {
    margin-left: 0px;
  }
}
.list-page .causes-items .causes-item .text-content h4 {
  margin-top: 0px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.list-page .causes-items .causes-item .text-content p {
  margin-bottom: 0px;
}
.list-page .causes-items .causes-item .goal-content {
  margin-left: -30px;
  background-color: #eeeeee;
  padding: 30px 25px;
}
@media (max-width: 991px) {
  .list-page .causes-items .causes-item .goal-content {
    margin-left: 0px;
  }
}
.list-page .causes-items .causes-item .goal-content ul {
  padding: 0;
  margin-top: 10px;
  list-style: none;
  text-align: center;
}
.list-page .causes-items .causes-item .goal-content ul li {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
}
.list-page .causes-items .causes-item .goal-content ul li em {
  font-style: normal;
  font-weight: 700;
}
.list-page .causes-items .causes-item .goal-content ul li:first-child {
  float: left;
}
.list-page .causes-items .causes-item .goal-content ul li:last-child {
  float: right;
}
.list-page .causes-items .causes-item .goal-content .progress-holder {
  position: relative;
  z-index: 9;
  width: 100%;
  height: 5px;
  background-color: #ffffff;
  border-radius: 5px;
}
.list-page .causes-items .causes-item .goal-content .progress-fill {
  margin-top: -5px;
  position: relative;
  z-index: 10;
  background: #82af7c;
  height: 5px;
  border-radius: 5px;
  width: 78%;
  max-width: 100%;
  float: left;
}
.list-page .causes-items .causes-item .goal-content .accent-button {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 6px;
}
.grid-page .cause-item {
  margin-bottom: 30px;
}
.grid-page .cause-item .thumb-holder {
  position: relative;
}
.grid-page .cause-item .thumb-holder img {
  width: 100%;
  z-index: 9;
}
.grid-page .cause-item .thumb-holder .more-info ul {
  position: absolute;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 10;
  bottom: 10px;
  right: 10px;
}
.grid-page .cause-item .thumb-holder .more-info ul li {
  display: inline-block;
}
.grid-page .cause-item .thumb-holder .more-info ul li i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  background-color: #ffffff;
}
.grid-page .cause-item .thumb-holder .more-info ul li i:hover {
  color: #ffffff;
  background-color: #82af7c;
  transition: all 0.5s;
  cursor: pointer;
}
.grid-page .cause-item .thumb-holder .more-info ul li:hover span {
  opacity: 1;
  visibility: visible;
  transition: all 1s;
}
.grid-page .cause-item .thumb-holder .more-info ul li span {
  z-index: 11;
  display: inline-block;
  width: 180px;
  padding: 5px;
  text-align: center;
  right: 0;
  top: -30px !important;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 600;
  opacity: 0;
  visibility: hidden;
}
.grid-page .cause-item .text-content {
  background-color: #f4f4f4;
  padding: 20px;
}
.grid-page .cause-item .text-content h4 {
  margin-top: 0px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.grid-page .cause-item .text-content p {
  margin-bottom: 0px;
}
.grid-page .cause-item .goal-content {
  background-color: #eeeeee;
  padding: 30px 25px;
}
.grid-page .cause-item .goal-content ul {
  padding: 0;
  margin-top: 10px;
  list-style: none;
  text-align: center;
}
.grid-page .cause-item .goal-content ul li {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
}
.grid-page .cause-item .goal-content ul li em {
  font-style: normal;
  font-weight: 700;
}
.grid-page .cause-item .goal-content ul li:first-child {
  float: left;
}
.grid-page .cause-item .goal-content ul li:last-child {
  float: right;
}
.grid-page .cause-item .goal-content .progress-holder {
  position: relative;
  z-index: 9;
  width: 100%;
  height: 5px;
  background-color: #ffffff;
  border-radius: 5px;
}
.grid-page .cause-item .goal-content .progress-fill {
  margin-top: -5px;
  position: relative;
  z-index: 10;
  background: #82af7c;
  height: 5px;
  border-radius: 5px;
  width: 78%;
  max-width: 100%;
  float: left;
}
.grid-page .cause-item .goal-content .accent-button {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 6px;
}
.single-cause .cause-item {
  margin-bottom: 30px;
}
.single-cause .cause-item .thumb-holder {
  position: relative;
}
.single-cause .cause-item .thumb-holder img {
  width: 100%;
  z-index: 9;
}
.single-cause .cause-item .up-content {
  display: inline-block;
  padding: 20px;
  background-color: #82af7c;
  width: 100%;
}
.single-cause .cause-item .up-content ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.single-cause .cause-item .up-content ul li {
  margin-right: 20px;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.5px;
  background-color: #6da166;
  padding: 11px 15px;
}
@media (max-width: 991px) {
  .single-cause .cause-item .up-content ul li {
    display: block;
    margin-bottom: 10px;
    margin-right: 0px;
    text-align: center;
  }
}
.single-cause .cause-item .up-content ul li a {
  color: #ffffff;
}
.single-cause .cause-item .up-content ul li i {
  text-align: center;
  display: inline-block;
  font-size: 13px;
  margin-right: 10px;
}
.single-cause .cause-item .up-content ul li:last-child {
  margin-right: 0px;
  background-color: transparent;
  padding: 0px;
}
@media (max-width: 991px) {
  .single-cause .cause-item .up-content ul li:last-child {
    margin-top: 25px;
    text-align: center;
  }
}
.single-cause .cause-item .up-content ul li:last-child a {
  color: #121212;
}
.single-cause .cause-item .text-content {
  background-color: #f4f4f4;
  padding: 20px;
}
.single-cause .cause-item .text-content h4 {
  margin-top: 0px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.single-cause .cause-item .text-content p {
  margin-bottom: 0px;
}
.single-cause .cause-item .goal-content {
  background-color: #eeeeee;
  padding: 30px 25px;
}
.single-cause .cause-item .goal-content ul {
  padding: 0;
  margin-top: 10px;
  list-style: none;
  text-align: center;
}
.single-cause .cause-item .goal-content ul li {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
}
.single-cause .cause-item .goal-content ul li em {
  font-style: normal;
  font-weight: 700;
}
.single-cause .cause-item .goal-content ul li:first-child {
  float: left;
}
.single-cause .cause-item .goal-content ul li:last-child {
  float: right;
}
.single-cause .cause-item .goal-content .progress-holder {
  position: relative;
  z-index: 9;
  width: 100%;
  height: 5px;
  background-color: #ffffff;
  border-radius: 5px;
}
.single-cause .cause-item .goal-content .progress-fill {
  margin-top: -5px;
  position: relative;
  z-index: 10;
  background: #82af7c;
  height: 5px;
  border-radius: 5px;
  width: 78%;
  max-width: 100%;
  float: left;
}
.single-cause .cause-item .goal-content .accent-button {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 6px;
}
.events-list-page .event-items .event-item {
  margin-bottom: 30px;
  display: inline-block;
}
.events-list-page .event-items .event-item .up-content {
  display: inline-block;
  padding: 20px;
  background-color: #82af7c;
  width: 100%;
}
.events-list-page .event-items .event-item .up-content ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.events-list-page .event-items .event-item .up-content ul li {
  margin-right: 20px;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  background-color: #6da166;
  padding: 10px 12px;
}
@media (max-width: 991px) {
  .events-list-page .event-items .event-item .up-content ul li {
    margin-bottom: 15px;
  }
}
.events-list-page .event-items .event-item .up-content ul li a {
  color: #ffffff;
}
.events-list-page .event-items .event-item .up-content ul li i {
  text-align: center;
  display: inline-block;
  font-size: 13px;
  margin-right: 10px;
}
.events-list-page .event-items .event-item .up-content ul li:last-child {
  margin-right: 0px;
  margin-bottom: 0px;
}
.events-list-page .event-items .event-item .down-content {
  float: right;
  background-color: #f4f4f4;
  padding: 20px;
  display: inline-block;
  width: 100%;
}
.events-list-page .event-items .event-item .down-content h4 {
  margin-top: 0px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}
.events-list-page .event-items .event-item .down-content a {
  display: inline-block;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  text-transform: capitalize;
  font-weight: 700;
  color: #82af7c;
}
.events-list-page .event-items .event-item .down-content a:hover {
  color: #659a5e;
  transition: all 0.5s;
}
.events-grid-page .event-items .event-item {
  margin-bottom: 30px;
}
.events-grid-page .event-items .event-item .thumb-holder {
  position: relative;
}
.events-grid-page .event-items .event-item .thumb-holder img {
  width: 100%;
  z-index: 9;
}
.events-grid-page .event-items .event-item .thumb-holder .more-info ul {
  position: absolute;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 10;
  bottom: 10px;
  right: 10px;
}
.events-grid-page .event-items .event-item .thumb-holder .more-info ul li {
  display: inline-block;
}
.events-grid-page .event-items .event-item .thumb-holder .more-info ul li i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  background-color: #ffffff;
}
.events-grid-page .event-items .event-item .thumb-holder .more-info ul li i:hover {
  color: #ffffff;
  background-color: #82af7c;
  transition: all 0.5s;
  cursor: pointer;
}
.events-grid-page .event-items .event-item .thumb-holder .more-info ul li:hover span {
  opacity: 1;
  visibility: visible;
  transition: all 1s;
}
.events-grid-page .event-items .event-item .thumb-holder .more-info ul li span {
  z-index: 11;
  display: inline-block;
  width: 180px;
  padding: 5px;
  text-align: center;
  right: 0;
  top: -30px !important;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 600;
  opacity: 0;
  visibility: hidden;
}
.events-grid-page .event-items .event-item .text-content {
  background-color: #f4f4f4;
  padding: 20px;
}
.events-grid-page .event-items .event-item .text-content h4 {
  margin-top: 0px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.events-grid-page .event-items .event-item .text-content p {
  margin-bottom: 0px;
}
.events-grid-page .event-items .event-item .text-content a {
  display: inline-block;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  text-transform: capitalize;
  font-weight: 700;
  color: #82af7c;
}
.events-grid-page .event-items .event-item .text-content a:hover {
  color: #659a5e;
  transition: all 0.5s;
}
.single-event-page .single-event .event-item .thumb-holder {
  position: relative;
}
.single-event-page .single-event .event-item .thumb-holder img {
  width: 100%;
  z-index: 9;
}
.single-event-page .single-event .event-item .text-content {
  background-color: #f4f4f4;
  padding: 20px;
}
.single-event-page .single-event .event-item .text-content h4 {
  margin-top: 0px;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.single-event-page .single-event .event-item .text-content p {
  margin-bottom: 0px;
}
@media (max-width: 991px) {
  .single-event-page .event-details {
    margin-top: 30px;
  }
}
.single-event-page .event-details .more-info {
  display: inline-block;
  padding: 20px;
  background-color: #82af7c;
  width: 100%;
}
.single-event-page .event-details .more-info ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.single-event-page .event-details .more-info ul li {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  background-color: #73a56c;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin-bottom: 20px;
}
.single-event-page .event-details .more-info ul li a {
  color: #ffffff;
}
.single-event-page .event-details .more-info ul li i {
  color: #121212;
  margin-right: 20px;
  float: left;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  background-color: #ffffff;
}
.single-event-page .event-details .more-info ul li:last-child {
  margin-bottom: 0px;
}
.single-event-page .event-map {
  margin-top: 30px;
}
.single-event-page .event-map #map {
  width: 100%;
  height: 375px;
}
section.similar-events {
  padding-top: 0px;
  text-align: center;
}
section.similar-events .heading h3 {
  margin-top: 0px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}
section.similar-events .heading h3 em {
  font-style: normal;
  color: #82af7c;
}
section.similar-events .event-items .event-item {
  text-align: left;
  margin-bottom: 30px;
}
section.similar-events .event-items .event-item .thumb-holder {
  position: relative;
}
section.similar-events .event-items .event-item .thumb-holder img {
  width: 100%;
  z-index: 9;
}
section.similar-events .event-items .event-item .thumb-holder .more-info ul {
  position: absolute;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 10;
  bottom: 10px;
  right: 10px;
}
section.similar-events .event-items .event-item .thumb-holder .more-info ul li {
  display: inline-block;
}
section.similar-events .event-items .event-item .thumb-holder .more-info ul li i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  background-color: #ffffff;
}
section.similar-events .event-items .event-item .thumb-holder .more-info ul li i:hover {
  color: #ffffff;
  background-color: #82af7c;
  transition: all 0.5s;
  cursor: pointer;
}
section.similar-events .event-items .event-item .thumb-holder .more-info ul li:hover span {
  opacity: 1;
  visibility: visible;
  transition: all 1s;
}
section.similar-events .event-items .event-item .thumb-holder .more-info ul li span {
  z-index: 11;
  display: inline-block;
  width: 180px;
  padding: 5px;
  text-align: center;
  right: 0;
  top: -30px !important;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 600;
  opacity: 0;
  visibility: hidden;
}
section.similar-events .event-items .event-item .text-content {
  background-color: #f4f4f4;
  padding: 20px;
}
section.similar-events .event-items .event-item .text-content h4 {
  margin-top: 0px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
section.similar-events .event-items .event-item .text-content p {
  margin-bottom: 0px;
}
section.similar-events .event-items .event-item .text-content a {
  display: inline-block;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  text-transform: capitalize;
  font-weight: 700;
  color: #82af7c;
}
section.similar-events .event-items .event-item .text-content a:hover {
  color: #659a5e;
  transition: all 0.5s;
}
.side-bar {
  margin-left: 30px;
}
@media (max-width: 991px) {
  .side-bar {
    margin-top: 60px;
    margin-left: 0px;
    padding: 0px 15px;
  }
}
.side-bar .heading {
  margin-bottom: 25px;
}
.side-bar .heading h4 {
  margin-top: 0px;
  padding-bottom: 5px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}
.side-bar .heading .full-line {
  width: 100%;
  height: 1px;
  background-color: #eeeeee;
  position: relative;
  z-index: 9;
}
.side-bar .heading .line-dec {
  width: 45px;
  height: 3px;
  background-color: #82af7c;
  position: relative;
  z-index: 10;
  margin-top: -2px;
}
.side-bar .about-us .social-icons {
  margin-top: 15px;
}
.side-bar .about-us .social-icons ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.side-bar .about-us .social-icons ul li {
  margin-right: 10px;
  display: inline-block;
}
.side-bar .about-us .social-icons ul li a i {
  color: #232527;
  font-size: 12px;
  width: 28px;
  height: 28px;
  background-color: #f4f4f4;
  display: inline-block;
  line-height: 28px;
  text-align: center;
  border-radius: 50%;
}
.side-bar .about-us .social-icons ul li a i:hover {
  background-color: #82af7c;
  color: #ffffff;
  transition: all 0.5s;
}
.side-bar .categories {
  margin-top: 45px;
}
.side-bar .categories ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.side-bar .categories ul li {
  margin-bottom: 8px;
  display: block;
}
.side-bar .categories ul li a {
  font-family: 'Open Sans', sans-serif;
  color: #7a7a7a;
  font-size: 13px;
  font-weight: 600;
}
.side-bar .categories ul li a:hover {
  color: #659a5e;
  transition: all 0.5s;
}
.side-bar .categories ul li:last-child {
  margin-bottom: 0px;
}
.side-bar .popular-posts {
  margin-top: 45px;
}
.side-bar .popular-posts .popular-item {
  margin-bottom: 35px;
  display: block;
}
.side-bar .popular-posts .popular-item img {
  width: 70px;
  float: left;
  margin-right: 15px;
}
.side-bar .popular-posts .popular-item h4 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.3px;
  margin-bottom: 5px;
  padding-top: 15px;
}
.side-bar .popular-posts .popular-item span {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 600;
  color: #888888;
  text-transform: uppercase;
}
.side-bar .tag-cloud {
  margin-top: 40px;
}
.side-bar .tag-cloud ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.side-bar .tag-cloud ul li {
  margin-right: 10px;
  margin-bottom: 8px;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
}
.side-bar .tag-cloud ul li a {
  color: #555555;
}
.side-bar .tag-cloud ul li span {
  font-size: 13px;
  font-weight: 400;
}
.side-bar .tag-cloud ul li em {
  font-style: normal;
  font-size: 15px;
  font-weight: 600;
}
.side-bar .tag-cloud ul li h6 {
  color: #555555;
  margin-top: 0px;
  font-size: 15px;
  font-weight: 700;
}
.side-bar .tag-cloud ul li h6:hover {
  color: #82af7c;
  transition: all 0.5s;
}
.side-bar .tag-cloud ul li a:hover {
  color: #659a5e;
  transition: all 0.5s;
}
.page-heading {
  background-image: url(../images/page_heading_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 80px 0px 60px 0px;
  margin-top: 70px;
}
@media (max-width: 991px) {
  .page-heading {
    text-align: center;
    margin-top: 6%;
  }
}

.page-heading .heading h1 {
  text-transform: uppercase;
  color: #121212;
  font-size: 26px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: 2px;
}
.page-heading .current-page {
  margin-top: -5px;
  float: right;
}
@media (max-width: 991px) {
  .page-heading .current-page {
    float: none;
  }
}
.page-heading .current-page ul {
  padding: 10px;
  margin: 0;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.25);
}
.page-heading .current-page ul li {
  display: inline;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 13px;
  color: #ffffff;
}
.page-heading .current-page ul li a {
  color: #ffffff;
}
.page-heading .current-page ul li:first-child a {
  color: #dde9db;
}
.first-line {
  color: #dd8a2c;
  font-family: 'Open Sans', sans-serif;
  font-size: 38px;
  text-transform: uppercase;
  font-weight: 900;
}
/*.second-line {
  color: #206c8c;
  font-family: 'Open Sans', sans-serif;
  font-size: 38px;
  text-transform: none;
  font-weight: 700;
}*/
.third-line {
  color: #206c8c;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-transform: none;
  font-weight: 600;
}
.fourth-line p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #2c2c2c;
}
.fourth-line em {
  color: #82af7c;
}
@media (max-width: 991px) {
  .slider {
    margin-top: 60px;
    text-align: center;
  }
}
.slider ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider .tp-caption {
  visibility: hidden;
  opacity: 0;
}
@media (max-width: 991px) {
  .slider .tp-caption {
    display: none;
  }
}
.slider .tp-caption a {
  color: #dd8a2c;
}
.slider .tp-caption a:hover {
  color: #ffffff;
  transition: all 0.5s;
}
.tp-bullets {
  z-index: 1!important;
}
.slider-2 .first-line {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 40px;
  color: #ffffff;
}
.slider-2 .second-line {
  color: #121212;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  padding: 5px 15px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 400;
  background-color: rgba(250, 250, 250, 0.75);
}
@media (max-width: 991px) {
  .slider-2 .second-line {
    display: none;
  }
}
.slider-3 {
  margin-top: 60px;
}
.slider-3 .first-line {
  font-family: 'Open Sans', sans-serif;
  font-size: 64px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 60px;
  color: #ffffff;
}
.slider-3 .first-line em {
  padding: 5px 10px;
  font-style: normal;
  display: inline-block;
  background-color: #a0c29c;
}
.slider-3 .second-line .line-dec {
  width: 60px;
  height: 3px;
  background-color: #ffffff;
}
.why-choose-us {
  background-color: #f4f4f4;
}
.why-choose-us .left-image img {
  width: 100%;
}
.why-choose-us .right-content .heading h4 {
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #206c8c;
}
.why-choose-us .right-content .heading h4 em {
  font-style: normal;
  color: #dd8a2c;
}
.why-choose-us .right-content .heading .line-dec {
  width: 40px;
  height: 3px;
  background-color: #206c8c;
}
.why-choose-us .right-content .heading h3 {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}
.why-choose-us .right-content .heading h3 em {
  font-style: normal;
  color: #82af7c;
  font-size: 36px;
  line-height: 0;
}
.why-choose-us .right-content .heading p {
  margin-bottom: 30px;
}
.why-choose-us .right-content .service-item {
  padding: 30px 0px;
  width: 100%;
  background-color: #206c8c;
  text-align: center;
}
@media (max-width: 991px) {
  .why-choose-us .right-content .service-item {
    margin-bottom: 20px;
  }
}
.why-choose-us .right-content .service-item .service-icon {
  background-color: transparent;
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  text-align: center;
}
.why-choose-us .right-content .service-item .service-icon img {
  max-width: 100%;
}
.why-choose-us .right-content .service-item h4 {
  letter-spacing: 0.5px;
  color: #ffffff;
  margin-top: 5px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}
section.services-page .our-services .service-item {
  margin-bottom: 30px;
}
section.services .our-services {
  padding-top: 60px;
  border-top: 1px solid #eeeeee;
}
section.services .our-services .service-item {
  padding: 30px 20px;
  width: 100%;
  background-color: #f4f4f4;
  text-align: center;
}
@media (max-width: 991px) {
  section.services .our-services .service-item {
    margin-bottom: 20px;
  }
}
section.services .our-services .service-item .service-icon {
  background-color: transparent;
  width: 70px;
  height: 70px;
  line-height: 60px;
  display: inline-block;
  text-align: center;
}
section.services .our-services .service-item .service-icon img {
  max-width: 100%;
}
section.services .our-services .service-item .line-dec {
  width: 40px;
  height: 3px;
  background-color: #206c8c;
  margin: 15px auto;
}
section.services .our-services .service-item h4 {
  margin-top: 20px;
  font-size: 15px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  font-weight: 700;
}
.testimonials {
  background-color: #f4f4f4;
}
.testimonials .heading {
  text-align: center;
  margin-bottom: 30px;
}
.testimonials .heading h3 {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 700;
}
.testimonials .heading h3 em {
  font-style: normal;
  color: #dd8a2c;
}
.testimonials .testimonial-item p {
  font-size: 14px;
  font-style: italic;
  color: #343434;
  line-height: 26px;
}
.testimonials .testimonial-item h4 {
  margin-bottom: 0px;
  margin-top: 20px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
}
button {
  width: 160px;
  height: 36px;
  background-color: #dd8a2c;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 8px;
}
span{
  color:#dd882c;
}
p{
  color:black;
}
button:hover span {
  /*display: none;*/
  transition: all 1s;
}
/*button:hover:before {
  content: "Save A Life!";
  transition: all 1s;*/
}
.border-button a {
  padding: 8px 20px;
  border: 2px solid #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #ffffff;
}
.border-button a:hover {
  background-color: #ffffff;
  color: #121212;
  transition: all 0.5s;
}
.white-button a {
  padding: 10px 22px;
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #121212;
}
.white-button a:hover {
  color: #82af7c;
  transition: all 0.5s;
}
.accent-button a {
  padding: 10px 22px;
  background-color: #82af7c;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #ffffff;
}
.accent-button a:hover {
  background-color: #659a5e;
  transition: all 0.5s;
}
.full-button a {
  width: 100%;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  background-color: #82af7c;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #ffffff;
}
.full-button a:hover {
  background-color: #659a5e;
  transition: all 0.5s;
}
.go-top {
  width: 46px;
  height: 46px;
  line-height: 46px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.25) !important;
}
#funny-facts {
  background-image: url(../images/facts-bg.jpg);
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0px;
}
#funny-facts .fact-item {
  padding: 15px 0px;
  text-align: center;
  border-right: 1px solid rgba(250, 250, 250, 0.2);
  padding-right: 20px;
}
@media (max-width: 991px) {
  #funny-facts .fact-item {
    padding-right: 0px;
    padding-bottom: 60px;
    margin-bottom: 60px;
    border-right: none;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  }
}
#funny-facts .fact-item i {
  color: #ffffff;
  font-size: 28px;
}
#funny-facts .fact-item .line-dec {
  width: 45px;
  height: 3px;
  background-color: #82af7c;
  margin: 12px auto 15px auto;
}
#funny-facts .fact-item .count-focus {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: 300;
  color: #ffffff;
  display: inline-block;
  margin-top: 0px;
}
#funny-facts .fact-item .fact-role {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  color: #ffffff;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
#funny-facts .last-fact {
  border-right: none;
}
@media (max-width: 991px) {
  #funny-facts .last-fact {
    padding-bottom: 20px;
  }
}
@media (max-width: 991px) {
  .error-content {
    text-align: center;
  }
}
.error-content .heading h3 {
  font-size: 36px;
  margin-top: 60px;
}
.error-content p {
  margin-top: 20px;
  margin-bottom: 30px;
}
.error-content .border-button {
  display: inline-block;
  margin-right: 10px;
}
.error-content .border-button a {
  border-color: #121212;
  color: #121212;
}
.error-content .border-button a:hover {
  background-color: #121212;
  color: #ffffff;
  transition: all 0.5s;
}
.error-content .accent-button {
  display: inline-block;
}
.error-content .question-mark {
  float: right;
}
.error-content .question-mark h1 {
  font-size: 240px;
  margin: 0px;
  font-weight: 700;
}
section.blog-pagination {
  text-align: left!important;
}
section.blog-pagination ul li a {
  text-align: center;
}
.pages {
  padding-top: 70px;
  margin-top: -30px;
  text-align: center;
}
.pages ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.pages ul li {
  margin-right: 2px;
  display: inline-block;
}
.pages ul li a {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  background-color: #eeeeee;
}
.pages ul li a:hover {
  color: #ffffff;
  background-color: #82af7c;
  transition: all 0.5s;
}
.pages ul .active a {
  color: #ffffff;
  background-color: #82af7c;
}
/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */
/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
  float: left;
}
.owl-controls {
  top: -200px;
  width: 100%;
  text-align: center;
  display: inline-block;
}
@media (max-width: 991px) {
  .owl-controls {
    top: -120px;
  }
}
.owl-controls a {
  color: #336699;
}
.owl-controls a:hover {
  color: #336699;
}
.owl-controls .bg-prev {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
  z-index: 10;
  background: #fff;
  border: 1px solid #336699;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.owl-controls .bg-prev:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  border: 2px solid #336699;
}
.owl-controls .prev {
  left: 15px;
  z-index: 11;
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 32px;
}
.owl-controls .prev.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.owl-controls .prev:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.owl-controls .bg-next {
  position: absolute;
  float: right;
  z-index: 1;
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 10;
  background: #fff;
  border: 1px solid #336699;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.owl-controls .bg-next:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  border: 2px solid #336699;
}
.owl-controls .next {
  right: 15px;
  z-index: 11;
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 32px;
}
.owl-controls .next.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.owl-controls .next:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.owl-theme .owl-controls .owl-page {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page a {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0px 5px;
  filter: alpha(opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: transparent;
  border: 2px solid #888;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: alpha(opacity=100);
  /*IE7 fix*/
  opacity: 1;
  display: inline-block;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.go-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  position: fixed;
  bottom: 60px;
  right: 10px;
  z-index: 77;
  font-size: 18px;
  text-align: center;
  background: #080808;
  color: #fff !important;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
}
.go-top.go-top-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.go-top.go-topfade-out {
  opacity: 1;
}
@media (max-width: 991px) {
  .go-top {
    right: 20px;
    bottom: 20px;
  }
}
@media (min-width: 992px) {
  .go-top {
    height: 60px;
    width: 60px;
    line-height: 60px;
    right: 30px;
    bottom: 60px;
  }
}
/* Preload images */
body:after {
  display: none;
}
body.lb-disable-scrolling {
  overflow: hidden;
}
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  border-radius: 3px;
}
.lightbox a img {
  border: none;
}
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;
}
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}
.lb-container {
  padding: 4px;
}
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
}
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.lb-container > .nav {
  left: 0;
}
.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}
.lb-prev,
.lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}
.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}
.lb-data {
  padding: 0 4px;
  color: #ccc;
}
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.nano {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.nano .content {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
}
.nano .content:focus {
  outline: 0;
}
.nano .content::-webkit-scrollbar {
  visibility: hidden;
}
.has-scrollbar .content::-webkit-scrollbar {
  visibility: visible;
}
.nano .pane {
  position: absolute;
  width: 3px;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden\9;
  /* Target only IE7 and IE8 with this hack */
  opacity: 0.01;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.nano .pane .slider {
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
  position: relative;
  margin: 0 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}
.nano:hover .pane,
.pane.active,
.pane.flashed {
  opacity: 0.99;
}
.nano {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.nano .content {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
}
/*
 * jQuery FlexSlider v2.4.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 * 
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
  font-family: 'flexslider-icon';
  src: url('../fonts/flexslider-icon.eot');
  src: url('../fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('../fonts/flexslider-icon.woff') format('woff'), url('../fonts/flexslider-icon.ttf') format('truetype'), url('../fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover,
.flex-container a:focus,
.flex-slider a:focus {
  outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .flexslider .slides {
  display: block;
}
* html .flexslider .slides {
  height: 1%;
}
.no-js .flexslider .slides > li:first-child {
  display: block;
}
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}
.how-it-works, h2{
  text-align:center;
}
.holder{
  height: 10%;
}
.map-holder{
   height:450px;
  width: 100%;
}
#bkshr-map{
	height:450px;
  width: 100%;
}
p{
	font-size: 14px;
}
